
  {% extends 'ef/base.html' %}
  {% load static %}
  {% block title %} <title>Détails</title> {% endblock  %}
  {% block content %}
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg1.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">{{filiere.titre}}</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="/">Accueil</a></li>
                <li class="active text-gray-silver">Formation</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Blog -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-pull-right">
            <div class="single-service">
              <img src="{{filiere.image.url}}" alt="">
              <h3 class="text-theme-colored line-bottom text-theme-colored">{{filiere.titre}}</h3>

              <p>{{filiere.content}}</p>
              <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Les options</h4>
              <ul id="myTab" class="nav nav-tabs boot-tabs">
                <li class="active"><a href="#small" data-toggle="tab">Les options par formation</a></li>

              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="small">
                  {% for formation in formations %}
                    <table class="table table-bordered">
                    <tr>
                      <td class="text-center font-16 font-weight-600 bg-theme-colored2 text-white" colspan="4">{{formation.titre}}</td>
                    </tr>

                    <tbody>
                      {% for option in formation.option_set.all %}
                        <tr>
                          <th scope="row">{{option.titre}}</th>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="sidebar sidebar-left mt-sm-30 ml-40">
              <div class="widget">
                <h4 class="widget-title line-bottom">Liste des <span class="text-theme-colored2">formation</span></h4>
                <div class="services-list">
                  <ul class="list list-border angle-double-right">
                    {% for formation in formations %}
                      <li class="active">
                        <a href="#">{{formation.titre}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="widget">
                <h4 class="widget-title line-bottom">Les <span class="text-theme-colored2">Modalités</span></h4>
                <div class="opening-hours">
                  <ul class="list-border">
                    {% for mod in modalites %}
                      <li class="clearfix">
                        <div class=""> {{mod.titre}} </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="widget">
                <h4 class="widget-title line-bottom">Nous <span class="text-theme-colored2">Contacter</span></h4>
                <form  name="footer_quick_contact_form" class="quick-contact-form" action="post-email/" method="post">
                   {% csrf_token %}
                  <div class="form-group">
                    <input name="subject" class="form-control" type="text" required="" placeholder="Entrer le sujet">
                  </div>
                  <div class="form-group">
                    <input name="form_email" class="form-control" type="text" required="" placeholder="Entrer votre adresse email">
                  </div>
                  <div class="form-group">
                    <textarea name="message" class="form-control" required="" placeholder="Entrer le message" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Envoyer</button>
                  </div>
                </form>

                <!-- Quick Contact Form Validation-->
                <script type="text/javascript">
                  $("#quick_contact_form_sidebar").validate({
                    submitHandler: function(form) {
                      var form_btn = $(form).find('button[type="submit"]');
                      var form_result_div = '#form-result';
                      $(form_result_div).remove();
                      form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                      var form_btn_old_msg = form_btn.html();
                      form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                      $(form).ajaxSubmit({
                        dataType:  'json',
                        success: function(data) {
                          if( data.status == 'true' ) {
                            $(form).find('.form-control').val('');
                          }
                          form_btn.prop('disabled', false).html(form_btn_old_msg);
                          $(form_result_div).html(data.message).fadeIn('slow');
                          setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                        }
                      });
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock  %}

